@media (max-width: 767px) {
    .news {
        article {
            flex-direction: column;

            &:nth-of-type(2) {
                flex-direction: column;
            }

            img,
            .article_content {
                width: 100%;
            }

            .article_content {
                h2, h3 {
                    padding: 8px 12px;
                }

                p {
                    padding: 12px;
                }
            }
        }
    }
}